<!DOCTYPE HTML>
<html>
  <head>  
  </head>
  <body>
    
    
    
    
    <form action = "/index" method = "post">
      Clothing1: <br>
      <input type = "text" name = "firstclothing"?>
      <br>
      Clothing2: <br>
      <input type = "text" name = "secondclothing"?>
      <br>
      <input type = "submit" value = "Submit">
    </form>
    
       <p> The clothingt that you should buy or wear is  <%=@selected%>!</p>
       
       
    
    
  </body>
  




</html>






