<!DOCTYPE HTML>
<html>
  <head>  
  </head>
  <body>
    <form action = "/results" method = "post">
      Clothing1: <br>
      <input type = "text" name = "firstclothing"?>
      <br>
      Clothing2: <br>
      <input type = "text" name = "secondclothing"?>
      <br>
      <input type = "submit" value = "Submit">
    </form>
    
    
    
    
  </body>
  




</html>






